
<!-- Banner -->
<div id="banner">
  <div  class="container header-container" >
    <div >
      <div class="row">
        <div class="col-md-12">
          <!--Logo-->
          <div class="text-center" style="margin: 150px 20px">
            <h1 style="font-size: 58px">
              DataExo<strong> Data Studio</strong>
            </h1>

            <div >

              <span style="font-size: 18px">
                Prepare and load files, Query data, and <br> Sync your S3
                buckets
              </span>
            </div>

          </div>
          <section class="try" >
            <div class="container">
              <div class="text-center">
                <a routerLink="/signup" routerLinkActive="active">TRY IT FREE</a>
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="row" style="height: 10px"></div>
